body{
  font-family: arial;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px;
  margin: 0;
  background-color: black;
}
.container{
  padding-top: 20px;
  max-width: 1230px;
  margin:auto;
  background: black;
  overflow: auto;
}
.gallery{
  margin: 5px;
  border: 5px solid #e8491d;
  background: white;
  float: left;
  width: 390px;
}
.gallery img{
  width: 100%;
  height: 250px;
}
.desc{
  padding: 15px;
  text-align: center;
  border-top: 5px solid #e8491d;
  color: white;

}
.desc a{
  text-decoration: none;
  color: black;
}
